<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <ul>
    <li>
      <label>
        Version de fifa:
        <select formControlName="fifa_version">
          <option *ngFor="let version of optionVersion" [value]="version">
            {{ version }}
          </option>
        </select>
      </label>
    </li>
    <li>
      <label>
        Nombre:
        <input
          type="text"
          id="long_name"
          formControlName="long_name"
          label="long_name"
        />
      </label>
    </li>
    <li>
      <label>
        Posición:
        <input
          type="text"
          id="player_positions"
          formControlName="player_positions"
        />
      </label>
    </li>
    <li>
      <label>
        Club: <input type="text" id="club_name" formControlName="club_name"
      /></label>
    </li>
    <li>
      <label>
        Nacionalidad:
        <input
          type="text"
          id="nationality_name"
          formControlName="nationality_name"
        />
      </label>
    </li>
  </ul>
  <button>Filtrar</button>
  <button type="button" (click)="onReset()">Borrar filtro</button>
</form>
