<main>
  <section class="personal-data">
    <img src="{{ player.player_face_url }}" alt="" />
    <ul>
      <li><b>Nombre:</b> {{ player.long_name }}</li>
      <li><b>Posición:</b> {{ player.player_positions }}</li>
      <li><b>Club:</b> {{ player.club_name }}</li>
      <li><b>Nacionalidad:</b> {{ player.nationality_name }}</li>
      <li><b>Pierna hábil:</b> {{ playerPreferredFoot }}</li>
      <li><b>Skills:</b> {{ player.skill_moves }} ★</li>
      <li><b>Habilidad General:</b> {{ player.overall }}</li>
      <li><b>Habilidad Potencial:</b> {{ player.potential }}</li>
      <li><b>Version de fifa:</b> {{ player.fifa_version }}</li>
    </ul>
  </section>
  <section>
    <app-skills-chart
      [dataPlayer]="playerSkills"
      [NamePlayer]="player.long_name"
    ></app-skills-chart>
  </section>
</main>
