div{
  color: red;
  font-size: 14px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  list-style-type: none;
  padding: 0;
  margin-left: 30px ;
}

input{ 
  font-size: 16px;
  border: 0;
  border-radius: 3px;
  background-color: azure;
  padding: 4px 10px;
}

button{
  height: 30px;
  width: 200px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 4px;
  border-color: #407be9;
  margin-left: 30px;
  margin-bottom: 20px;
}

a{
  margin: 30px;
}